.el-form-item {
  margin-bottom: 15px;
}
.el-form-item__error{
  padding-top: 0;
}
.el-input__inner {
  height: 32px;
  line-height: 32px;
  border-radius: 0;
}
.el-input__inner::-moz-placeholder{   /* Mozilla Firefox 19+ */
  color:#666;
  font-family: Microsoft YaHei;
}
.el-input__inner:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
  color:#666;
  font-family: Microsoft YaHei;
}
.el-input__inner:-ms-input-placeholder{  /* Internet Explorer 10-11 */
  color:#666;
  font-family: Microsoft YaHei;
}
.el-input.is-disabled .el-input__inner{
  color: #606266;
}
.el-input__inner::-webkit-input-placeholder{
  color:#666;
  font-family: Microsoft YaHei;
}
.el-input-number{
  height: 30px;
  line-height: 30px;
}
.el-date-editor .el-range-separator {
  padding: 0;
  line-height: 30px;
  height: 30px;
}
.el-date-editor .el-range__icon{
  margin-left: 0;
}
.el-range-editor.el-input__inner{
  padding: 0;
}

/* el-button */
.el-button {
  padding: 0 10px;
  height: 36px;
  line-height: 36px;
}
.el-button--small {
  padding: 0 8px;
  height: 32px;
  line-height: 32px;
}
.el-button--mini{
  padding: 0 6px;
  height: 30px;
  line-height: 30px;
}
/* 弹窗样式 */
.el-dialog{
  min-width: 390px;
  /*max-height: 569px;*/
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -51%);
  z-index: 2010;
}
.el-dialog__body{
  padding: 15px 30px;
}

.el-dialog__title{font-size: 14px;}
.el-dialog__headerbtn{top: 15px;right: 15px;}
.el-dialog__header{
  border-bottom: 1px solid #DCDFE6;
  padding: 10px 0 8px 20px;
  box-sizing: border-box;
}
.el-dialog .el-input__inner{
  height: 32px;
  line-height: 32px;
}

/* tree样式 */
.el-icon-caret-right:before{font-size: 22px;}

.el-input__icon{
  height: 32px;
  line-height: 32px;
}
.el-select{
  width: 100%;
}

/*.el-loading-spinner{*/
  /*background-image: url("/static/img/loading.gif");*/
  /*background-repeat: no-repeat;*/
  /*background-position: center;*/
/*}*/
/*.el-loading-spinner .path{*/
  /*display: none;*/
/*}*/
/*.el-loading-spinner .el-loading-text{*/
  /*!*margin-top: 30px;*!*/
/*}*/

.el-card.is-always-shadow, .el-card.is-hover-shadow:focus, .el-card.is-hover-shadow:hover{
  -webkit-box-shadow:none;
  box-shadow:none;
}

.el-link.el-link--primary{
  color: #428bca;
}

/*menu*/
.el-menu--horizontal>.el-submenu .el-submenu__title{
  height: 50px;
  line-height: 50px;
}
.el-menu-item, .el-submenu__title{
  height: 50px;
  line-height: 50px;
}
.el-card__header {
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
}

.el-divider--horizontal{
  margin: 15px 0;
}
.el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content{
  background-color: #0B245F;
  padding-left: 3px;
}
.el-tree-node__content:hover{
  background-color: #375a8e;
}


.el-collapse{
  border: 1px solid #EBEEF5;
}
.el-collapse-item__header{
  height: 40px;
  line-height: 40px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: bold;
  padding-left: 10px;
}
.el-collapse-item__header.is-active{
  border-bottom: 1px solid #EBEEF5;
}
.el-collapse-item__content{
  padding: 10px;
}

.el-divider--horizontal{
  margin: 10px 0;
}

div.el-notification {
  width: 400px;
}
